[log]
output = "/var/log/revad/revad-gateway.log"
level = "info"



[shared]
gatewaysvc = "localhost:9142"
jwt_secret = "your_value_here"
skip_user_groups_in_token = true

[grpc]
address = "0.0.0.0:9142"

[grpc.services.gateway]
commit_share_to_storage_grant = true
commit_share_to_storage_ref = true
disable_home_creation_on_login = false
transfer_shared_secret = "your_value_here"
transfer_expires = 86400
home_mapping = ""
home_layout = "/eos/user/{{substr 0 1 .Username}}/{{.Username}}/"
etag_cache_ttl = 0
create_home_cache_ttl = 1
resource_info_cache_ttl = 60
resource_info_cache_type = "memory"
ocm_enabled = true

authregistrysvc = "localhost:9142"
storageregistrysvc = "localhost:9142"
appregistrysvc = "localhost:9142"
preferencessvc = "localhost:9142"
userprovidersvc = "localhost:9145"
groupprovidersvc = "localhost:9145"
usershareprovidersvc = "localhost:9144"
publicshareprovidersvc = "localhost:9144"
spacessvc = "localhost:9142"
ocmincomingsvc = "localhost:9144"
ocmshareprovidersvc = "localhost:9144"
ocminvitemanagersvc = "localhost:9144"
ocmproviderauthorizersvc = "localhost:9144"


datagateway = "https://test.cernbox.cern.ch/data"

allowed_user_agents = { "/home" = ["grpc", "desktop"] }

[grpc.services.gateway.token_managers.jwt]
expires_next_weekend = true
expires = 86400

[grpc.services.authregistry]
driver = "static"

[grpc.services.authregistry.drivers.static.rules]
basic = "localhost:9156"
bearer = "localhost:9158"
machine = "localhost:9166"
publicshares = "localhost:9278"
ocmshares = "localhost:30000"

[grpc.services.spacesregistry]
driver = "sql"
user_space = "/eos/user/{{substr 0 1 .Username}}/{{ .Username }}"
machine_secret = "your_value_here"
resource_info_cache_ttl = 300
resource_info_cache_type = "memory"

[grpc.services.spacesregistry.drivers.sql]
db_username = "cernbox_server"
db_password = "your_value_here"
db_host = "your_value_here"
db_port = 5504
db_name = "test"

[grpc.services.appregistry]
driver = "static"

[grpc.services.appregistry.drivers.static]
mime_types = [
	{ mime_type = "text/markdown", extension = "md", name = "Plain Markdown file", description = "CodiMD markdown file", icon = "resource-type-file", default_app = "CodiMD", allow_creation = true },
	{ mime_type = "application/compressed-markdown", extension = "zmd", name = "Markdown file with images", description = "CodiMD zipped markdown file", icon = "resource-type-file", default_app = "CodiMD", allow_creation = true },
	{ mime_type = "application/vnd.openxmlformats-officedocument.wordprocessingml.document", extension = "docx", name = "Word document", description = "Microsoft Word document", icon = "resource-type-document", default_app = "MS365", allow_creation = true },
	{ mime_type = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", extension = "xlsx", name = "Excel spreadsheet", description = "Microsoft Excel spreadsheet", icon = "resource-type-spreadsheet", default_app = "MS365", allow_creation = true },
	{ mime_type = "application/vnd.openxmlformats-officedocument.presentationml.presentation", extension = "pptx", name = "PowerPoint presentation", description = "Microsoft PowerPoint presentation", icon = "resource-type-presentation", default_app = "MS365", allow_creation = true },
	{ mime_type = "application/vnd.ms-word.document.macroenabled.12", extension = "docm", name = "Word document", description = "Microsoft Word document with macros", icon = "resource-type-document", default_app = "MS365", allow_creation = false },
	{ mime_type = "application/vnd.ms-excel.sheet.binary.macroenabled.12", extension = "xlsm", name = "Excel spreadsheet", description = "Microsoft Excel spreadsheet with macros", icon = "resource-type-spreadsheet", default_app = "MS365", allow_creation = false },
	{ mime_type = "application/vnd.ms-powerpoint.presentation.macroenabled.12", extension = "pptm", name = "PowerPoint presentation", description = "Microsoft PowerPoint presentation with macros", icon = "resource-type-presentation", default_app = "MS365", allow_creation = false },
	{ mime_type = "application/vnd.openxmlformats-officedocument.visio", extension = "vsdx", name = "Visio diagram", description = "Microsoft Visio diagram", icon="resource-type-visio", default_app = "MS365", allow_creation = false },
    { mime_type = "application/vnd.oasis.opendocument.text", extension = "odt", name = "LibreOffice document (experimental)", description = "OpenDocument text", icon = "resource-type-document", default_app = "Collabora", allow_creation = true },
    { mime_type = "application/vnd.oasis.opendocument.spreadsheet", extension = "ods", name = "LibreOffice spreadsheet (experimental)", description = "OpenDocument spreadsheet", icon = "resource-type-spreadsheet", default_app = "Collabora", allow_creation = true },
    { mime_type = "application/vnd.oasis.opendocument.presentation", extension = "odp", name = "LibreOffice presentation (experimental)", description = "OpenDocument presentation", icon = "resource-type-presentation", default_app = "Collabora", allow_creation = true },
    { mime_type = "application/msword", extension = "doc", name = "Word legacy doc", description = "Microsoft Word legacy document", icon = "resource-type-document", default_app = "Collabora", allow_creation = false },
    { mime_type = "application/vnd.ms-excel", extension = "xls", name = "Excel legacy sheet", description = "Microsoft Excel legacy spreadsheet", icon = "resource-type-spreadsheet", default_app = "Collabora", allow_creation = false },
    { mime_type = "application/vnd.ms-powerpoint", extension = "ppt", name = "PowerPoint legacy presentation", description = "Microsoft PowerPoint legacy presentation", icon = "resource-type-presentation", default_app = "Collabora", allow_creation = false },
#	{ mime_type = "application/compressed-etherpad", extension = "zep", name = "Etherpad", description = "Compressed Etherpad file", icon = "resource-type-file", default_app = "Etherpad", allow_creation = true },
	{ mime_type = "application/wopi-validator", extension = "wopitest", name = "WOPI validator", description = "Microsoft WOPI validation tests", default_app = "MS365", allow_creation = false },
	{ mime_type = "application/wopi-validator-x", extension = "wopitestx", name = "WOPI validator x", description = "Microsoft WOPI validation tests", default_app = "MS365", allow_creation = false },
]

[grpc.services.storageregistry]

driver = "dynamic"


[grpc.services.storageregistry.drivers.dynamic]
db_username = "cernbox_server"
db_password = "your_value_here"
db_host = "your_value_here"
db_port = 5504
db_name = "test"
home_path = "/home"

[grpc.services.storageregistry.drivers.dynamic.rules]
"eosproject-i00" = "localhost:14500"
"eoshome-i00" = "localhost:16000"
"public" = "localhost:9278"
"ocm" = "localhost:30000"
"ocm-received" = "localhost:20000"
"localfs" = "localhost:38000"

[grpc.services.storageregistry.drivers.dynamic.rewrites]
"/home" = "eoshome-{{substr 0 1 .Id.OpaqueId}}"

[grpc.services.storageregistry.drivers.dynamic.aliases]
"eoshome-[dlntz]" = "eoshome-i00"
"eoshome-[agjkw]" = "eoshome-i01"
"eoshome-[horsy]" = "eoshome-i02"
"eoshome-[bemvx]" = "eoshome-i03"
"eoshome-[cfipqu]" = "eoshome-i04"
"newproject-[aegjkqvy]" = "eosproject-i00"
"newproject-[bfhlnopsw]" = "eosproject-i01"
"newproject-[cdimrtuxz]" = "eosproject-i02"


[grpc.services.preferences]
driver = "sql"

[grpc.services.preferences.drivers.sql]
db_username = "cernbox_server"
db_password = "your_value_here"
db_host = "your_value_here"
db_port = 5504
db_name = "test"


[tracing]

