[log]
output = "/var/log/revad/revad-http.log"
level = "info"



[shared]
gatewaysvc = "localhost:9142"
jwt_secret = "your_value_here"
skip_user_groups_in_token = true

[http]
address = "0.0.0.0:9143"

[http.middlewares.auth]
credential_chain = ["publicshares", "ocmshares", "basic", "bearer"]
token_strategy_chain = ["header", "bearer"]
signed_url_chain = ["signed_url"]
machine_secret = "your_value_here"

[http.middlewares.auth.credentials_by_user_agent]
"mirall" = "basic"

[http.middlewares.auth.credential_strategies.publicshares]
use_cookies = true

[http.middlewares.auth.signed_url_strategies.signed_url]
enabled = true
allowed_http_methods = ["GET"]
# For testing only, replace with teigi before merging to master!
signing_key_secret = "your_value_here"
userprovidersvc = "localhost:9145"

[http.middlewares.cors]
allowed_origins = ["*"]
allowed_methods = ["OPTIONS", "LOCK", "GET", "HEAD", "POST", "DELETE", "PROPPATCH", "COPY", "MOVE", "UNLOCK", "PROPFIND", "MKCOL", "REPORT", "SEARCH", "PUT"]
allowed_headers = ["Accept", "Accept-Language", "Authorization", "Content-Language", "Content-Type", "Depth", "OCS-APIREQUEST", "Referer", "sec-ch-ua", "sec-ch-ua-mobile", "sec-ch-ua-platform", "User-Agent", "X-Requested-With", "Range"]
debug = true
exposed_headers = ["Location", "Content-Range", "Content-Length", "Accept-Ranges"]


# frontend

[http.services.appprovider]
transfer_shared_secret = "your_value_here"
timeout = 86400
insecure = true


[http.services.otg]
db_username = "cernbox_server"
db_password = "your_value_here"
db_host = "your_value_here"
db_port = 5504
db_name = "test"

[http.services.ocgraph]
ocm_enabled = true
base_url = "https://test.cernbox.cern.ch"
pub_rw_link_max_expiration = 94694400 # 3 years + 1 day
pub_rw_link_default_expiration = 2678400 # 1 month + 1 day

[http.services.ocapi]

[http.services.thumbnails]
cache = "lru"
output_type = "jpg"
quality = 80
insecure = true
fixed_resolutions = ["36x36"]

[http.services.thumbnails.cache_drivers.lru]
size = 1000000
expiration = 172800 # 2 days

[http.services.archiver]
prefix = "archiver"
timeout = 86400
insecure = true
max_num_files = 10000
max_size = 10737418240 # 10GB
allowed_folders = ["^/eos/user/[a-z]/[0-9a-z\\-]+/", "^/eos/project/[a-z]/[0-9a-z\\-]+/"]

[http.services.datagateway]
transfer_shared_secret = "your_value_here"
timeout = 86400
insecure = true
prefix = "data"

[http.services.preferences]
prefix = "preferences"

[http.services.ocdav]
files_namespace = "/eos/{{substr 0 1 .Username}}"
timeout = 86400
insecure = true
favorite_storage_driver = "sql"
public_url = "https://test.cernbox.cern.ch"
spaces_enabled = true
enable_http_tpc = false
desktop_client_namespace = "/cernbox/desktop"

[http.services.ocdav.publiclink_download]
max_num_files = 10000
max_size = 10737418240
public_folder = "/public"

[http.services.ocdav.favorite_storage_drivers.sql]
db_username = "cernbox_server"
db_password = "your_value_here"
db_host = "your_value_here"
db_port = 5504
db_name = "test"

[http.services.wellknown.ocmprovider]
endpoint = "https://test.cernbox.cern.ch"
provider = "CERNBox"
enable_webapp = true
enable_datatx = false

[http.services.ocm]
expose_recipient_display_name = true

[http.services.sciencemesh]
mesh_directory_url = 'https://sciencemesh.cesnet.cz/iop/meshdir'
provider_domain = 'test.cernbox.cern.ch'
body_template_path = '/etc/revad/sciencemesh_email_body'
ocm_mount_point = '/sciencemesh'
# the following is the current location of the EOSC Federation
directory_service_urls = 'https://surfdrive.surf.nl/s/d0bE1k3P1WHReTq/download'

[http.services.sciencemesh.smtp_credentials]
disable_auth = true
sender_mail = "sciencemesh@cern.ch"
smtp_server = "cernmx.cern.ch"
smtp_port = 25

[http.services.ocs]
share_prefix = "/"
home_namespace = "/"
additional_info_attribute = "{{.Username}} ({{.Mail}})"
cache_warmup_driver = "first-request"
resource_info_cache_ttl = 60
resource_info_cache_type = "memory"
ocm_mount_point = "/sciencemesh"
list_ocm_shares = true
signing_key_secret = "your_value_here"

[http.services.ocs.group_based_capabilities]
cephfs-mount = ["cernbox-winspaces-view"]
office-view = ["cernbox-office-view"]

[http.services.ocs.cache_warmup_drivers.cbox]
db_username = "cernbox_server"
db_password = "your_value_here"
db_host = "your_value_here"
db_port = 5504
db_name = "test"

[http.services.ocs.config]
version = "1.8"
website = "reva"
host = "https://test.cernbox.cern.ch"
contact = "cernbox-service-ops@cern.ch"
ssl = "false"

[http.services.ocs.capabilities.capabilities.core]
poll_interval = 60
webdav_root = "remote.php/webdav"
status = { installed = true, maintenance = false, nwwsaDbUpgrade = false, version = "10.0.11.5", versionstring = "10.0.11", edition = "community", productname = "reva", hostname = "" }
support_url_signing = false

[http.services.ocs.capabilities.capabilities.checksums]
supported_types = ["sha1", "md5", "adler32"]

[http.services.ocs.capabilities.capabilities.files]
private_links = false
bigfilechunking = false
blacklisted_files = []
undelete = true
versioning = true
archivers = [
	{ enabled = true, version = "2.0.0", formats = [
		"tar",
		"zip",
	], archiver_url = "/archiver", max_num_files = "10000", max_size = "1073741824" },
]
app_providers = [
	{ enabled = true, version = "1.0.0", apps_url = "/app/list", open_url = "/app/open", new_url = "/app/new" },
]
favorites = true

[http.services.ocs.capabilities.capabilities.dav]

[http.services.ocs.capabilities.capabilities.files.thumbnail]
enabled = true
version = "1.0.0"
supported_mime_types = [
  "image/gif",
  "image/png",
  "image/jpeg",
  "image/tiff"
]

[http.services.ocs.capabilities.capabilities.files_sharing]
api_enabled = true
resharing = true
deny_access = true
resharing_default = false
group_sharing = true
auto_accept_share = true
share_with_group_members_only = true
share_with_membership_groups_only = true
default_permissions = 22
search_min_length = 3

[http.services.ocs.capabilities.capabilities.files_sharing.public]
enabled = true
send_mail = true
social_share = true
upload = true
multiple = true
supports_upload_only = true
password = "your_value_here"
can_edit = true
can_contribute = false

[http.services.ocs.capabilities.capabilities.files_sharing.public.expire_date]
enabled = true
default_rw_folders = { months = 1 }
max_rw_folders = { years = 3 }

[http.services.ocs.capabilities.capabilities.files_sharing.user]
send_mail = true
profile_picture = false
settings = [{ enabled = true, version = "1.0.0" }]

[http.services.ocs.capabilities.capabilities.files_sharing.user_enumeration]
enabled = true
group_members_only = true

[http.services.ocs.capabilities.capabilities.files_sharing.federation]
outgoing = true
incoming = true

[http.services.ocs.capabilities.capabilities.spaces]
enabled = true
projects = true

[http.services.ocs.capabilities.version]
edition = "reva"
major = 10
minor = 0
micro = 11
string = "10.0.11"

[http.services.ocdav.notifications]
nats_address = "cbox-nats-01.cern.ch:4222"
nats_token = "your_value_here"
nats_stream = "reva-notifications-cbox-ocistest-01"

[http.services.ocs.notifications.templates.sharedfolder_upload_mail]
name = "sharedfolder-upload-mail"
handler = "email"
subject_template_path = "/etc/revad/templates/sharedfolder-upload-mail-subject.txt"
body_template_path = "/etc/revad/templates/sharedfolder-upload-mail-body.html"

[http.services.ocs.notifications]
nats_address = "cbox-nats-01.cern.ch:4222"
nats_token = "your_value_here"
nats_stream = "reva-notifications-cbox-ocistest-01"

[http.services.ocs.notifications.templates.share_create_mail]
name = "share-create-mail"
handler = "email"
subject_template_path = "/etc/revad/templates/share-create-mail-subject.txt"
body_template_path = "/etc/revad/templates/share-create-mail-body.html"

[http.services.metrics]
metrics_data_driver_type = "json"
metrics_data_location = "/etc/revad/accounting-metrics.json"

[http.services.pprof]

[tracing]

