[log]
mode = "json"
level = "debug"

[shared]
gatewaysvc = "localhost:9142"
jwt_secret = "ijclab_secret"
skip_user_groups_in_token = true

[grpc]
address = "localhost:9142"

[grpc.services.gateway]
commit_share_to_storage_grant = true
transfer_expires = 86400 # seconds
etag_cache_ttl = 0
transfer_shared_secret = "ijclab_trans_secret"
authregistrysvc = "localhost:9142"
storageregistrysvc = "localhost:9142"
userprovidersvc = "localhost:9142"
datagateway = "https://reva.mesocentre.universite-paris-saclay.fr/datagateway"
home_layout = "/users/{{.Username}}"

[grpc.services.storageprovider]
driver = "cephfs"
mount_path = "/"
mount_id = "cephfs"
data_server_url = "http://localhost:9143/data"

[grpc.services.storageprovider.drivers.cephfs]
root = "/"
config = "/etc/ceph/ceph.conf"
keyring = "/etc/ceph/ceph.client.cernbox.keyring"
client_id = "cernbox"
enable_recycle = false
dir_perms = 0o700
file_perms = 0o600
user_layout = "/users/{{.Username}}"

[grpc.services.gateway.token_managers.jwt]
expires = 1500

[grpc.services.authregistry]
driver = "static"

[grpc.services.authregistry.drivers.static.rules]
basic = "localhost:9142"
bearer = "localhost:9158"

[grpc.services.storageregistry]
driver = "static"

[grpc.services.storageregistry.drivers.static]
#home_provider = "/"

[grpc.services.storageregistry.drivers.static.rules]
"/" = {"address" = "localhost:9142"}

[grpc.services.userprovider]
driver = "ldap"

[grpc.services.userprovider.drivers.json]
users = "/etc/revad/test_users.json"

[grpc.services.userprovider.drivers.ldap]
hostname = "ldap.universite-paris-saclay.fr"
port = 636
base_dn = "ou=mesobox,ou=hosts,dc=universite-paris-saclay,dc=fr"
attributefilter = "(&(objectClass=person)({{attr}}={{value}}))"
groupfilter = "(&(objectClass=person)(cn=*)(memberuid={{.OpaqueId}}))"
userfilter = "(&(objectClass=person)(uid={{.OpaqueId}}))"
bind_username = "ijclab_bind_dn"
bind_password = "ijclab_bind_pwd"
# The following loop concatenates all the LDAP mapping entries using the format:
#     [ attr="LDAP_attr", attr2="LDAP_attr2", ...]
schema = { cn="uid", displayName="gecos", dn="dn", gidNumber="gidNumber", mail="mail", uid="uid", uidNumber="uidNumber" }
gatewaysvc = "localhost:9142"

[grpc.services.authprovider]
auth_manager = "ldap"

[grpc.services.authprovider.auth_managers.json]
users = "/etc/revad/test_users.json"

[grpc.services.authprovider.auth_managers.ldap]
hostname = "ldap.universite-paris-saclay.fr"
port = 636
base_dn = "ou=mesobox,ou=hosts,dc=universite-paris-saclay,dc=fr"
loginfilter = "(&(objectClass=person)(uid={{login}}))"
bind_username = "ijclab_bind_dn"
bind_password = "ijclab_bind_pwd"
# The following loop concatenates all the LDAP mapping entries using the format:
#     [ attr="LDAP_attr", attr2="LDAP_attr2", ...]
schema = { cn="uid", displayName="gecos", dn="dn", gidNumber="gidNumber", mail="mail", uid="uid", uidNumber="uidNumber" }
gatewaysvc = "localhost:9142"

[http]
address = "0.0.0.0:9143"

[http.middlewares.auth]
credential_chain = ["basic", "bearer"]
token_strategy_chain = ["bearer", "header"]

[http.middlewares.auth.credentials_by_user_agent]
"mirall" = "basic"

[http.middlewares.cors]
allowed_origins = ["https://revaweb.mesocentre.universite-paris-saclay.fr"]
allowed_methods = ["OPTIONS", "LOCK", "GET", "HEAD", "POST", "DELETE", "PROPPATCH", "COPY", "MOVE", "UNLOCK", "PROPFIND", "MKCOL", "REPORT", "SEARCH", "PUT"]
allowed_headers = ["Accept", "Accept-Language", "Authorization", "Content-Language", "Content-Type", "Depth", "Initiator-Id", "OCS-APIREQUEST", "Referer", "sec-ch-ua", "sec-ch-ua-mobile", "sec-ch-ua-platform", "User-Agent", "X-Request-Id", "X-Requested-With"]
debug = true
exposed_headers = []

[http.services.datagateway]
transfer_shared_secret = "ijclab_trans_secret"
timeout = 86400
insecure = true
prefix = "datagateway"


[http.services.ocdav]
files_namespace = "/"
webdav_namespace = "/"
timeout = 86400
insecure = true
enable_http_tpc = false

[http.services.ocs.config]
version = "1.8"
website = "reva"
host = "https://reva.mesocentre.universite-paris-saclay.fr:443"
contact = "?????"
ssl = "false"

[http.services.ocs.capabilities.capabilities.core]
poll_interval = 60
webdav_root = "remote.php/webdav/"
status = { installed = true, maintenance = false, nwwsaDbUpgrade = false, version = "10.0.11.5", versionstring = "10.0.11", edition = "community", productname = "reva", hostname = "" }
support_url_signing = false

[http.services.ocs.capabilities.capabilities.checksums]
supported_types = ["sha1", "md5", "adler32"]

[http.services.ocs.capabilities.capabilities.dav]
chunkingParallelUploadDisabled = true

[http.services.ocs.capabilities.capabilities.files]
private_links = false
bigfilechunking = false
blacklisted_files = [  ]
undelete = true
versioning = true

[http.services.dataprovider]
driver = "cephfs"

[http.services.dataprovider.drivers.cephfs]
root = "/"
config = "/etc/ceph/ceph.conf"
keyring = "/etc/ceph/ceph.client.cernbox.keyring"
client_id = "cernbox"
disable_home = false
enable_recycle = false
dir_perms = 0o700
file_perms = 0o600
user_layout = "/users/{{.Username}}"
